/** Shared project styles. */

.console {
  font-family: Courier;
  font-size: small;
  white-space: pre;
  height: 300px;
  background: #EEEEEE;
  padding: 4px;
}

.popup {
  padding: 5px;
  z-index: 5;
  border: 1px solid black;
  background: white;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
}

.floatLeft {
  float: left;
}

.floatRight {
  margin-left: 5px;
  float: right;
}

.clear {
  clear: both;
}

.actionable {
  cursor: pointer;
  text-decoration: none;
}

.noSelect {
  user-select: none;
  -o-user-select:none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

@external .gwt-MenuBar, .gwt-MenuItem, .gwt-MenuItem-selected;
.gwt-MenuBar .gwt-MenuItem {
  cursor: pointer;
}
.gwt-MenuBar .gwt-MenuItem-selected {
  background: #E0EDFE;
}
