/** Shared project styles. */

.console {
  font-family: Courier;
  font-size: small;
  white-space: pre;
  height: 300px;
  background: #EEEEEE;
  padding: 4px;
}

.popup {
  padding: 5px;
  z-index: 5;
  border: 1px solid black;
  background: white;
  max-width: 800px;
}
