/** Shared project styles. */

@external .actionLabel {
  /* override gwt-utils default */
  text-decoration: none;
}

.code {
  font-family: monospace;
  font-size: 12pt;
  white-space: pre;
}

.defModule {
  color: #9933FF;
}
.defType {
  color: #228B22;
}
.defFunc {
  color: #0033FF;
}
.defTerm {
  color: #B8860B;
}
.defUnknown {
  color: #000000;
}

.useModule {
  color: #330066;
}
.useType {
  color: #336600;
}
.useFunc {
  color: #003366;
}
.useTerm {
  color: #993300;
}
.useUnknown {
  color: #000000;
}

.use {
  color: #B8860B;
}

.doc {
  color: #333333;
  border-top: 1px dashed;
}

.doc p {
  margin: 10px 0px 0px 0px;
}

.doc dl {
  margin: 0px;
}

.doc dt {
  clear: left;
  float: left;
  margin: 0px 5px 0px 0px;
  font-style: italic;
}

.doc dd {
  margin: 0px;
}

.usePopup {
  z-index: 5;
  border: 1px solid black;
  background: #FFFFFF;
}

.actionable {
  cursor: pointer;
  text-decoration: none;
}

.selected {
  font-weight: bold;
}

.openDef {
  font-weight: bold;
}

.highlight {
  border: 1px solid #0066FF;
}

.indent {
  margin-left: 5px;
}

.typeLabelHeader {
  font-size: large;
}

.typeLabelHeader div {
  display: inline;
}

.typeLabel .Type {
  font-weight: bold;
}

.typeIcon {
  display: inline;
  position: relative;
}

.typeIconBase {
  position: absolute;
  top: 2px;
  left: 0px;
}

.typeIconUR {
  position: absolute;
  top: 0px;
  left: 9px;
}

.typeIconLL {
  position: absolute;
  top: 8px;
  left: 0px;
}

.defLabel {
  display: inline;
  white-space: nowrap;
}

.toggle {
  float: left;
  position: relative;
  top: 2px;
}
