/** Shared project styles. */

@external .actionLabel {
  /* override gwt-utils default */
  text-decoration: none;
}

.code {
  font-family: Courier;
  /* font-size: small; */
  white-space: pre;
}

.defModule {
  color: #228B22;
}
.defType {
  color: #228B22;
}
.defFunc {
  color: #0000FF;
}
.defTerm {
  color: #228B22;
}
.defUnknown {
  color: #228B22;
}

.use {
  color: #B8860B;
}

.doc p {
  margin-bottom: 0px;
}

.usePopup {
  padding: 5px;
  z-index: 5;
  border: 1px solid black;
  background: white;
  max-width: 800px;
}

.actionable {
  cursor: pointer;
}

.openDef {
  font-weight: bold;
}

.highlight {
  background: #FF0000;
}

.indent {
  margin-left: 5px;
}

.typeLabel .Module {
  font-size: small;
}

.typeLabel .Type {
  padding-right: 5px;
  font-weight: bold;
}

.typeIcon {
  float: left;
  position: relative;
}

.typeIconBase {
  position: relative;
  top: 2px;
}

.typeIconUR {
  position: absolute;
  left: 9px;
}

.typeIconLL {
  position: absolute;
  top: 8px;
}

.defLabel {
  float: left;
  padding-right: 5px;
}

.defClear {
  clear: both;
}

.toggle {
  position: relative;
  top: 2px;
}
